<p-confirmDialog 
  [style]="{width: '75%'}" 
  styleClass="custom-confirm-dialog">
</p-confirmDialog>
<div class="transactions mt-2">
  <div class="list-header">
    <div class="flex align-items-center justify-content-between mb-1">
      <h4 class="text-sm text-surface-900 m-0">รายการเครื่องจักรทั้งหมด</h4>
      <div class="button-container">
        <div *ngIf="isSuperAdmin">
          <button pButton type="button" class="p-button-outlined clear-button p-1 mr-1" (click)="exportToExcel()">
            <i class="pi pi-file-export text-sm"></i>
          </button>
          <button pButton type="button" class="p-button-outlined clear-button p-1 mr-1" (click)="onUserList()">
            <i class="pi pi-user text-sm"></i>
          </button>
          <button pButton type="button" class="p-button-outlined clear-button p-1 mr-1" (click)="onAdd()">
            <i class="pi pi-plus text-sm"></i>
          </button>
        </div>
        <button pButton type="button" class="p-button-outlined clear-button p-1" (click)="clearFilters()">
          <i class="pi pi-filter-slash text-sm"></i>
        </button>
      </div>
    </div>
  </div>
  <div *ngIf="loading">กำลังโหลดข้อมูล...</div>
  <div class="filter-row text-xs mb-2">
    <div class="p-field search-field">
      <input type="text" pInputText [(ngModel)]="searchQuery" (ngModelChange)="applyFilters()" placeholder="ค้นหา" class="text-xs w-full mb-1">
    </div>
    <div class="p-field dropdown-field">
      <p-dropdown
        [options]="machineStatusOptions"
        [(ngModel)]="selectedMachineStatus"
        (ngModelChange)="applyFilters()"
        placeholder="เลือกสถานะเครื่องจักร"
        [showClear]="true"
        class="w-full mb-1"
      ></p-dropdown>
    </div>
    <div class="p-field dropdown-field">
      <p-dropdown
        [options]="checkStatusOptions"
        [(ngModel)]="selectedCheckStatus"
        (ngModelChange)="applyFilters()"
        placeholder="เลือกสถานะการตรวจสอบ"
        [showClear]="true"
        class="w-full mb-1"
      ></p-dropdown>
    </div>
  </div>
  <div class="list-container" *ngIf="!loading">
    <p-dataview 
      [value]="filteredMachines" 
      [rows]="rows" 
      [first]="first"
      [paginator]="true"
      (onPage)="onPageChange($event)"
      [emptyMessage]="'ไม่พบข้อมูล'" 
      styleClass="custom-dataview-h-full text-sm"
    >
  <ng-template #list>
    <div class="card-list-wrap">
      <div class="col-12 custom-col-12" *ngFor="let machine of filteredMachines | slice:first:(first + rows)">
        <div class="custom-card">
          <div class="card-right">
            <span class="card-header text-xs" (click)="machine.id ? onMachineDetail(machine.id) : null">{{ machine.machineName }}</span>
            <div class="custom-card-subtitle">
              <span class="card-subtitle">{{ machine.machineCode }}</span>
              <div class="div-p-tag gap-1">
                <p-tag [ngClass]="getRoleClass(machine.machineStatus)" [value]="machine.machineStatus"></p-tag>
                <p-tag [ngClass]="getRoleClass(machine.checkStatus)" [value]="machine.checkStatus"></p-tag>
              </div>
            </div>   
            <div class="custom-card-subtitle">
              <span class="card-subtitle">{{ machine.responsiblePersonName }}</span>
              <div class="mc-list">
                <p-button icon="icon icon-pencil" text severity="secondary" (click)="onEdit(machine.id)"/>
                <p-button [hidden]="!isSuperAdmin" icon="icon icon-trash-2" text severity="secondary" (click)="onDelete(machine.id)"/>
              </div>
            </div>                      
          </div>
        </div>
      </div>
    </div>
  </ng-template>
  <ng-template pTemplate="empty">
    <div class="text-center p-3">
      <i class="pi pi-exclamation-circle text-2xl text-gray-500"></i>
      <p class="mt-2">ไม่พบข้อมูล</p>
    </div>
  </ng-template>        
</p-dataview>
  </div>
</div>
