<div class="dashboard-card" (click)="onMachineResponsible()">
  <div class="flex justify-content-center flex-wrap text-xs">
    <div class="flex align-items-center justify-content-center w-full">
      <p class="font-bold mt-0 mb-0 ml-2">เครื่องจักรที่รับผิดชอบทั้งหมด</p>
      <p class="total m-1 ml-2">{{ totalCount }} รายการ</p>
    </div>
    <div class="flex align-items-center justify-content-center w-full">
      <p class="font-bold mt-0 mb-0 ml-2" style="color: #890909d8;">ดำเนินการเสร็จสิ้น</p>
      <p class="total m-1 ml-2">{{ completedCount }} รายการ</p>
    </div>
    <div class="flex align-items-center justify-content-center w-full">
      <p class="font-bold underline mt-0 mb-0 ml-2" style="color: #890909b0;">รอดำเนินการ</p>
      <p class="total m-1 ml-2">{{ pendingCount }} รายการ</p>
    </div>
  </div>
</div>
      
<div class="transactions mt-4">
  <div class="list-header">
    <h4 class="text-sm text-surface-900 mb-1">เครื่องจักรที่รับผิดชอบทั้งหมด</h4>
  </div>
  <div *ngIf="loading">กำลังโหลด...</div>
  <div class="list-container acme-scroll" *ngIf="!loading">
    <p-dataview [value]="machines" [emptyMessage]="'ไม่พบข้อมูล'" styleClass="custom-dataview-h-full text-sm">
        <ng-template #list>
          <div class="card-list-wrap">
            <div class="col-12 custom-col-12" *ngFor="let machine of machines">
              <div class="custom-card" (click)="onMachineDetail(machine.id)">
                <div class="card-left">
                  <img src="assets/images/engineerings.png">
                </div>
                <div class="card-right">
                  <span class="card-header text-xs">{{ machine.machineName }}</span>
                  <div class="custom-card-subtitle">
                    <span class="card-subtitle">{{ machine.machineCode }}</span>
                    <div class="div-p-tag gap-1">
                      <p-tag [ngClass]="getRoleClass(machine.machineStatus)" [value]="machine.machineStatus"></p-tag>
                      <p-tag [ngClass]="getRoleClass(machine.checkStatus)" [value]="machine.checkStatus"></p-tag>
                    </div>
                  </div>                      
                </div>
              </div>
            </div>
          </div>
        </ng-template>
        <ng-template pTemplate="empty">
          <div class="text-center p-3">
            <i class="pi pi-exclamation-circle text-2xl text-gray-500"></i>
            <p class="mt-2">ไม่พบข้อมูล</p>
          </div>
        </ng-template>        
    </p-dataview>
  </div>
</div>