<div class="dashboard-card mb-1" (click)="onMachineResponsible()">
  <div class="flex justify-content-center flex-wrap text-xs">
    <div class="flex align-items-center justify-content-center w-full">
      <p class="font-bold mt-0 mb-0 ml-2">เครื่องจักรที่รับผิดชอบทั้งหมด</p>
      <p class="total m-1 ml-2">{{ totalCount }} รายการ</p>
    </div>
    <div class="flex align-items-center justify-content-center w-full">
      <p class="font-bold mt-0 mb-0 ml-2" style="color: #890909d8;">ดำเนินการเสร็จสิ้น</p>
      <p class="total m-1 ml-2">{{ completedCount }} รายการ</p>
    </div>
    <div class="flex align-items-center justify-content-center w-full">
      <p class="font-bold underline mt-0 mb-0 ml-2" style="color: #890909b0;">รอดำเนินการ</p>
      <p class="total m-1 ml-2">{{ pendingCount }} รายการ</p>
    </div>
  </div>
</div>

<p-card class="kpi-card">
  <div class="dropdown-container text-xs pb-2">
    <div class="flex justify-content-center flex-wrap text-xs">
      <div class="flex align-items-center justify-content-center w-full">
        <div class="dropdown-item">
          <label for="year">ปี </label>
          <p-dropdown
            id="year"
            [options]="years"
            [(ngModel)]="selectedYear"
            optionLabel="name"
            optionValue="value"
            placeholder="เลือกปี"
            (onChange)="onYearChange()"
          ></p-dropdown>
        </div>
        <div class="dropdown-item pl-2">
          <label for="month">เดือน </label>
          <p-dropdown
            id="month"
            [options]="months"
            [(ngModel)]="selectedMonth"
            optionLabel="name"
            optionValue="value"
            placeholder="เลือกเดือน"
            (onChange)="onMonthChange()"
          ></p-dropdown>
        </div>
      </div>
    </div> 
  </div>
  <p-metergroup class="text-xs" [value]="meterValue" />
  <div *ngIf="record" class="custom-card-subtitle text-xs">
    <span class="card-subtitle"><p>จำนวนที่ต้องตรวจทั้งหมด: {{ record.checkAll || 0 }}</p></span>
    <div class="div-p-tag">
      <p>จำนวนที่ตรวจแล้ว: {{ record.checked || 0 }}</p>
    </div>
  </div>   
  <div *ngIf="!record" class="kpi-info text-xs">
    <p>ไม่พบข้อมูล</p>
  </div>
</p-card>

<div class="transactions mt-4">
  <div class="list-header">
    <div class="flex align-items-center justify-content-between mb-1">
      <h4 class="text-sm text-surface-900 m-0">เครื่องจักรที่รับผิดชอบทั้งหมด</h4>
      <button pButton type="button" class="p-button-outlined clear-button p-1" (click)="clearFilters()">
        <i class="pi pi-filter-slash text-sm"></i>
      </button>
    </div>
  </div>
  <div class="filter-row text-xs mb-2">
    <div class="p-field search-field">
      <input type="text" pInputText [(ngModel)]="searchQuery" (ngModelChange)="applyFilters()" placeholder="ค้นหา" class="text-xs w-full mb-1">
    </div>
  </div>
  <div *ngIf="loading">กำลังโหลด...</div>
  <div class="list-container acme-scroll" *ngIf="!loading">
    <p-dataview 
      [value]="filteredMachines" 
      [rows]="rows"
      [first]="first"
      [paginator]="true"
      (onPage)="onPageChange($event)"
      [emptyMessage]="'ไม่พบข้อมูล'" 
      styleClass="custom-dataview-h-full text-sm"
    >
      <ng-template #list>
        <div class="card-list-wrap">
          <div class="col-12 custom-col-12" *ngFor="let machine of filteredMachines | slice:first:(first + rows)">
            <div class="custom-card" (click)="onMachineDetail(machine.id)">
              <div class="card-left">
                <img src="assets/images/engineerings.png">
              </div>
              <div class="card-right">
                <span class="card-header text-xs">{{ machine.machineName }}</span>
                <div class="custom-card-subtitle">
                  <span class="card-subtitle">{{ machine.machineCode }}</span>
                  <div class="div-p-tag gap-1">
                    <p-tag [ngClass]="getRoleClass(machine.machineStatus)" [value]="machine.machineStatus"></p-tag>
                    <p-tag [ngClass]="getRoleClass(machine.checkStatus)" [value]="machine.checkStatus"></p-tag>
                  </div>
                </div>                      
              </div>
            </div>
          </div>
        </div>
      </ng-template>
      <ng-template pTemplate="empty">
        <div class="text-center p-3">
          <i class="pi pi-exclamation-circle text-2xl text-gray-500"></i>
          <p class="mt-2">ไม่พบข้อมูล</p>
        </div>
      </ng-template>        
    </p-dataview>
  </div>
</div>