<div class="profile-card">
    <div class="header">
      <button pButton icon="pi pi-arrow-left" class="back-btn"></button>
      <h2>Profile</h2>
      <button pButton icon="pi pi-cog" class="settings-btn"></button>
    </div>
    <div class="profile-info">
      <img src="" alt="Profile Picture" class="profile-pic" />
      <h3>James Martin</h3>
      <p>Senior Graphic Designer</p>
      <div class="stats">
        <span><b>1000</b> Followers</span>
        <span><b>1200</b> Following</span>
      </div>
    </div>
    <div class="contact-info">
      <p><i class="pi pi-phone"></i> 1234567891</p>
      <p><i class="pi pi-globe"></i> <a href="https://www.behance.net/james012">behance.net/james012</a></p>
      <p><i class="pi pi-facebook"></i> <a href="https://www.facebook.com/james012">facebook.com/james012</a></p>
    </div>
  </div>